* {
	margin: 0;
}

body {
	background-image: url("../assets/images/seigaiha.png");
	background-attachment: fixed;
	height: 100%;
}

h1 {
	font-size: 30px;
	font-family: 'Georgia', Times, serif;
	color: #7286c7;
	padding-bottom: 5px;
	border-bottom: solid 3px #dddddd;
}

h2 {
	font-family: 'Georgia', Times, Times serif;
	font-size: 20px;
	color: #7286c7;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 3px solid #dddddd;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
}

.nav-bar {
	display: block;
	margin-bottom: 20px;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	border-bottom: solid 2px #dddddd;
	overflow: auto;
}

#header {
	display: block;
	float: left;
	font-size: 20px;
	font-family: 'Georgia', Times, Times serif;
	color: white;
	background-color: #7286c7;
	padding: 10px;
	width: 140px;
	margin-left: 75px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 14px;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
	color: #7286c7;    
	text-align: center;
	font-size: 15px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding: 14px 16px;
    text-decoration: none; 
 }

li a:visited { 
	color: #615c5c; 
}

li a:hover { 
	color: yellow; 
}

.main-content {
	display: block;
	float: left;
	width: 650px;
	margin left: 75px; 
	background: #ffffff;
	font-family:'Helvetica Neue', Helvetica, sans-serif;
}

#bio-image{
	float: left;
	max-width: 250px;
	margin: 5px 5px;
}

.connect {
	display: block;
	float: right;
	background: #ffffff;
	width: 260px;
	height: 130px;
}

.link-set {
	display: block;
	background: #ffffff;
	width: 260px;
	padding: 8px 20px;
	overflow: hidden;
}

.link {
	width: 50px;
	margin: 5px;
	float: left;
	padding: 5px;
	overflow: hidden;
}

form {
	line-height: 30px;
	color: #615c5c;
	font-family:'Helvetica Neue', Helvetica, sans-serif;
    border: 0px solid;
    color: #CCC;
    height: auto;
}

#name {
	height: 30px;
	width: 600px;
	font-size: 16px;
}

#email {
	height: 30px;
	width: 600px;
	font-size: 16px;
}

#message {
	height: 200px;
	width: 600px;
	font-size: 16px;
}

#photo1 {
	float: left;
	width: 25%;
	padding: 5px;
}

#photo2 {
	float: left;
	width: 25%;
	padding: 5px;

}

#photo3 {
	float: left;
	width: 25%;
	padding: 5px;

}

#photo4 {
	float: left;
	padding: 10px;
	width: 25%;
}

#photo5 {
	float: left;
	width: 25%;
	padding: 5px;
}

.wrap {
	min-height: 100%;
  	margin-bottom: -42px; 
}

.wrap:after {
  	display: block;
}

footer, .wrap:after {
	height: 42px;
	border-top: solid 5px #7286c7;
}

footer {
	background: #615c5c;
	width: 100%;
	padding: 14px;
	margin: 0;	
	position: fixed;
	bottom: 0;
	border-top-color: #7286c7; 
}

.footer-text {
	text-align: center;
}